body{
  background-color: #E6E6FA;
  background-image: url("admin1.png");
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-position: center;
}
.intro{
  color: black;
  text-align: center;
}
.details{
  color: ;
  text-align: center;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  padding-top: 10px;
  padding-right: 50px;
  padding-left: 50px;
  font-size: 16px;
  /* border: 5px solid white; */
  opacity: 0.6;
  filter: alpha(opacity=60);
  background-color: WHITE;
  width:320px;
  top: 10%;
  left: 35%;
  position: absolute;
}

input[type=text],input[type=password]{
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  outline: none;
}
input[type=submit],input[type=reset]{
  background-color: green;
  cursor: pointer;
  border:none;
  color: white;
  border-radius: 20px;
}

::placeholder{
  color: black;
  opacity: 0.3;
}

.Login{
  margin-bottom: 10%;
}
