ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: grey;
  position: sticky;
  opacity: 0.8;
}
li
{
  float: left;
}
li a
{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover
{
  background-color: red;
}
.home{
  background-color: red;

}
#button{
  border: none;
  background-color: inherit;
  color: white;
  padding-top: 2%;
  cursor: pointer;
}
#padd{
  padding-left: 700px;
}
.heading{
  /* background-color: grey; */
  color: #161162;
  text-align: center;
  height: 100px;
  left: 25px;
  margin-top: 0.5%;
  /* margin-bottom: 20%; */
  padding-top: 2%;
  margin-left: 40%;
  margin-right: 35%;
}
